{# templates/commentaires/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Nouveau commentaire</h1>

    {{ form_start(form) }}
        {{ form_row(form.Description) }}
        {{ form_row(form.Auteur) }}
        {{ form_row(form.Title) }}
        {{ form_row(form.Date) }}

        <button type="submit">Ajouter le commentaire</button>
    {{ form_end(form) }}
{% endblock %}
